<form name="pinForm"> 
  <label>Name</label>
  <input type="text" name="itemname" ng-model="item_name"><br>
  <label>Description</label>
  <input type="text" name="description" ng-model="description"><br>
  <label>Buy/Sell</label>
  <select ng-model="buy_sell">
    <option value="true">Buy</option>
    <option value="false">Sell</option>
  </select>
  <button type="submit" ng-click="postPin()">Submit</button>
</form>


<h1>Pins Index</h1>
<table class="table">
  <thead>
    <th>
      Item Name
    </th>
    <th>
      Description
    </th>
    <th>
      Buy/ Sell
    </th>
    <th>
      User
    </th>
  </thead>
  <tbody>
    <tr ng-repeat="pin in pins|orderBy:'-created_at'">
     <td>{{pin.item_name}}</td>
     <td>{{pin.description}}</td>
     <td>{{pin.buy_sell}}</td>
     <td>{{pin.user_id}}</td>
    </tr>
  </tbody>
</table>
